# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/db_dump.txt
backend/*.log
backend/*.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store

# IDE
.vscode/
.idea/
