version: '3.8'

services:
  db:
    image: postgres:15
    container_name: job_aggregator_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: jobs_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: job_aggregator_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
