fastapi==0.129.0
uvicorn[standard]==0.40.0
gunicorn==21.2.0

bcrypt==4.1.2

pandas==2.3.3
numpy>=1.26,<2.0
scikit-learn==1.7.2
scipy>=1.11

beautifulsoup4==4.14.3
requests==2.32.5
selenium==4.40.0
webdriver-manager==4.0.2
python-jobspy==1.1.82

SQLAlchemy==2.0.46
psycopg2-binary==2.9.11

celery==5.6.2
redis==7.1.1

python-dotenv==1.2.1
passlib==1.7.4
python-jose==3.5.0
python-multipart==0.0.22
schedule==1.2.2